body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    overflow:hidden;
  }

.screen {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
}

.screen * {
  pointer-events: all;
}

a {
  color: white;
}

.slide-up-enter-active, .slide-up-leave-active {
    transition: 2s;
}

.slide-up-enter {
  transform: translateY(100vh)
}

.slide-up-leave-to {
  transform: translateY(-100vh);
}