body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    overflow:hidden;
  }

.screen {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
}

.screen * {
  pointer-events: all;
}

.screen:after {
  clear: both;
}

.sidepanel {
  width: 300px;
  position: absolute;
  right: 20px;
  top: 100px;
}

.sidepanel-section {
  background-color: white;
  color: #222;
  margin-bottom: 20px;
  padding: 20px;
}

.slide-up-enter-active, .slide-up-leave-active {
    transition: 1s;
}

.slide-up-enter {
  transform: translateY(100vh)
}

.slide-up-leave-to {
  transform: translateY(-100vh);
}

.slide-down-enter-active, .slide-down-leave-active {
  transition: 1s;
}

.slide-down-enter {
  transform: translateY(-100vh);
}

.slide-down-leave-to {
  transform: translateY(100vh);
}